<ul>
    <% for (var i in tips) { %>
        <% var tip = tips[i]; %>
            <li>
                <%= tip.text %>
                (by <%= tip.author ? tip.author.username : 'Anonymous' %>)
            </li>
    <% } %>
</ul>
