<h1>Random Play:</h1>

<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<p>
    The answer <strong> <%= answer %> </strong> is <%= result ? 'right' : 'wrong' %>.
</p>

<p>
    <% if (!result) { %>
    You have failed.
    <p><a href="/quizzes"><button autofocus>End of Play</button></a></p>
    <% } else { %>
    You have succeeded.
    <p><a href="/quizzes/randomplay"><button autofocus>Continue playing</button></a></p>
    <% } %>
</p>

