<h1>
    Random Play:
</h1>

<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<a href="/quizzes/randomplay" class="right"><button>Next</button></a>

<div class="quizItem">

    <div>
        <% var attachment = quiz.attachment; %>
        <% include ../attachments/_show %>
    </div>

    <div>
        <% include ../favourites/_stars.ejs %>
        <br/>
        Question: <b><%= quiz.question %></b> <small>(by <%= quiz.author ? quiz.author.username : "Anonymous" %>)</small>
    </div>

</div>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">
    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Answer" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Check">
    </div>
</form>

<% if (quiz.tips[0]) { %>
    <h3>
        Tips:
    </h3>

    <% var tips = quiz.tips; %>
    <% var quizId = quiz.id; %>
    <% var quizAuthorId = quiz.authorId; %>

    <% include ../tips/index_randomplay %>
<% } %>