
<h1>
    Result:
</h1>

<p>
    The answer <strong> <%= answer %> </strong> is <%= result ? 'right' : 'wrong' %>.
</p>

<p>
    <% if (!result) { %>
       <a href="/quizzes/<%= quiz.id %>/play?answer=<%= answer %>"><button>Try again</button></a>
    <% } %>
    <a href="/goback"><button>Go back</button></a>
</p>


